.hideDrop {
  opacity: 0;
  width: 100%;
  min-height: 50px;
}
.activeDrop {
  opacity: 1;
  height: 100px;
}
.full-height {
  height: 100%;
}
.drop-container {
  border: 1px solid blue;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dotted black;
  margin: 8px 0px;
}
